body {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;   
}

div.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(46, 44, 43, 0.5);
    height: 100px;
    position: fixed;
    width: 100%;
    margin: 0;
    z-index: 9999;
}

ul {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    list-style-type: none;
    color: white;
    font-weight: lighter;

}

.link {
    margin-left: -500px;
}

.link ul {
    display: flex;
    width: 500px;
    justify-content: space-between;

}

.daftar ul {
    display: flex;
    width: 250px;
    justify-content: space-between;
}

a {
    text-decoration: none;
    justify-content: space-between;
    color: white;
    font-weight: lighter;
}

.logo {
    display: flex;
    color: white;
    font-weight: lighter;
}

.logo h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}

.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 150px;
}

.contentarea1 {
    width: 100%;
    height: 100vh;
    display: flex;
    background-image: url(./assets/main-bg.jpg);
    background-size: cover;
    background-position-y: -100px;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
} 

.content {
    display: flex;
    flex-direction: column;
    align-items:center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-top: 150px;
}

.content h1 {
    font-size: 100px;
}

.content h2 {
    font-weight: lighter;
    margin-bottom: 50px;
}


.content input {
    border: none;
    outline: none;
    padding: 15px 60px;
    margin-top: 10px;
    border-radius: 4px;
    color: black;
    font-size: 18px;
    font-weight: bolder;
    cursor: pointer;
    background-color: #F2AC33;
}

.story {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

.triangle-down {
	width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-top: 15px solid #8A847E;
}


.story a h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}

.contentarea2 {
    width: 100%;
    height: 100vh;
    display: flex;
    background-image: url(./assets/the-games-bg.jpg);
    background-size: cover;
    justify-content: flex-end;
    align-items: center;

}

.slider {
    width: 50%;
    margin-top: 210px;
    position: relative;
    overflow: hidden ;
    margin-right: 100px;
}

.images {
    display: flex;
    width: 100%;
}

.images img {
    height: 650px;
    width: 100%;
    transition: 0.15s;

}

.images input {
    display: none;
}

.dots {
    display: flex;
    justify-content: center;
    margin: 5px;
    margin-top: -40px;
}

.dots label {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: 2px solid white;
    cursor: pointer;
    transition: all 0.15s ease;
    margin: 20px;
}

.dots label:hover {
    background-color: white;
}

#img1:checked ~ .m1 {
    margin-left: 0;
}

#img2:checked ~ .m2 {
    margin-left: -100%;
}

#img3:checked ~ .m3 {
    margin-left: -200%;
}

#img4:checked ~ .m4 {
    margin-left: -300%;
}

#img5:checked ~ .m5 {
    margin-left: -400%;
}

.thegame {
    margin-left: 200px;
    position: absolute;
    margin-right: 900px;
    margin-bottom: 400px;
    width: 600px;
}

.thegame h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: white;
    font-weight: lighter;
    padding-bottom: 40px;
}

.thegame h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;
    color: white;
    font-weight: lighter;
}

.contentarea3 {
    display: flex;
    width: 100%;
    height: 100vh;
    background-image: url(./assets/features.jpg);
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: end;
}
.containerlist {
    display: flex;
    width: 40%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    ;
}

.features {
    position: relative;
    width: 400px;
    height: 100px;
    color: white;
    top: -70px;
}

.listgame {
    display: inline-block;
    width: 400px;
    height: 300px;
}

.listgame ul {
    list-style-type:circle;

}

.features h3 {
    font-size: 30px;
    font-weight: lighter;
    padding-bottom: 40px;
}

.features h1 {
    font-size: 70px;
    font-weight: lighter;
    margin-top: -25px;
}

.listgame label {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: 2px solid white;
    cursor: pointer;
    transition: all 0.15s ease;
    margin: 20px;
}

.traditional {
    display: flex;
}

.gamesuit {
    display: flex;
}

.tbd {
    display: flex;
}

.playing {
    padding-left: 55px;
    margin-top: -10px;
}

.listgame p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #F2AC33;
    font-weight: lighter;
}

h4 {
    color: white;
    font-weight: lighter;
}

.contentarea4 {
    display: flex;
    width: 100%;
    height: 100vh;
    background-image: url(./assets/requirements.png);
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    background-position-y: -90px;
}

.text p {
    text-align: center; 
    color: white;
    margin-top: -40px;
}

.requirement-area {
    display: flex;
    width: 600px;
    height: 600px;
    flex-direction: column;
    margin-left: -1000px;
    margin-top: 100px;
}

.requirement h1 {
    font-size: 60px;
    color: white;
    font-weight: lighter;
}

.list-requirement {
    display: block;
    width: 800px;
    height: 600px;
    justify-content: space-between;
}

.list-requirement p {
    text-align: left;
}

.OS {
    display: flex;
    width: 480px;
    height: 100px;
}

.PROCESSOR {
    display: flex;
    width: 400px;
    height: 200px;
}

.MEMORY {
    display: flex;
    width: 400px;
    height: 200px;
}

.STORAGE {
    display: flex;
    width: 400px;
    height: 200px;
}

.GRAPHICS {
    display: flex;
    width: 400px;
    height: 200px;
}

table {
    color: white;
    width: 400px;
    height: 300px;
    border: 0.5px solid white;
    text-align: left;
}


table th {
    color: #F2AC33;
    font-weight: normal;
}

table tr {
    height: 50px;
}


.contentarea5 {
    display: flex;
    width: 100%;
    height: 100vh;
    background-image: url(./assets/top-score-bg.png);
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    background-position-y: -90px;
}

.container5 {
    display: flex;
    width: 100%;
    height: 100vh;
    background-color:rgba(0, 0, 0, 0.9)

}

.topscore {
    display: flex;
    width: 50%;
    height: 100vh;
    justify-content: center;
}

.list-topscore {
    display: flex;
    width: 50%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.content-topscore {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-top: 10px;
}

.content-topscore h1 {
    font-size: 50px;
    font-weight: lighter;
}

.content-topscore h2 {
    font-size: 15px;
    font-weight: lighter;
    margin-bottom: 50px;
}


.content-topscore input {
    border: none;
    outline: none;
    padding: 15px 60px;
    margin-top: 10px;
    border-radius: 4px;
    color: black;
    font-size: 18px;
    font-weight: bolder;
    cursor: pointer;
    background-color: #F2AC33;
}

.content-topscore, h1, h2, input {
    margin: 5px;
}

.containercard {
    display: flex;
    width: 450px;
    height: 150px;
    background-color: rgb(29, 28, 28);
    flex-direction: column;
    padding: 15px;
    border-radius: 6px;
}

.contentcard1 {
    display: flex;
    justify-content:start;
}


.fotoprofil {
    position: relative;
    width: 60px;
    height: 60px;
    background-color: #F2AC33;
    background-image: url(./assets/picture1.jpg);
    background-size: cover;
    background-position-x: -20px;
    border-radius: 50%;
    margin-left: 10px;
    margin-top: 10px;
}

.circleprofil {
    width: 60px;
    height: 60px;
    background-color: #F2AC33;
    border-radius: 50%;
    margin-top: 12px;
    margin-left:-50px;
}

.identitas, h3 {
    margin: 0;
    padding-bottom: 10px;
    height: 2px;
    color: #F2AC33;
}
.identitas h5 {
    line-height:10%;
    color: rgb(107, 107, 107);
}

.twitter img {
    width: 20px;
    height: 20px;
}

.fotoprofil .circleprofil {
    padding-left: 10px;
    padding-top: 20px;
}

.identitas {
    padding-left: 40px;
    padding-top: 20px;
}

.twitter {
    padding-left: 200px;
    padding-top: 20px;
}

.comment, h5 {
    height: 2px;
    color: white;
}
.comment, h6 {
    line-height:5%; 
    color: rgb(107, 107, 107);
    font-weight: lighter;
}
