* {
    padding: 0;
    margin: 0;
    background-color: rgb(155, 109, 24);
}


img {
    height: 70px;
}

nav {
    display: flex;
    margin: 10px;
    padding: 10px;
}



.navigation h1 {
    display: flex;
    align-items: center;
    color: rgb(251, 166, 8);
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
}



.mainarea {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


.batuplayer, .batucom {
    width: 20vh;
    height: 20vh;
}

.kertasplayer, .kertascom{
    width: 20vh;
    height: 20vh;
}

.guntingplayer, .guntingcom{
    width: 20vh;
    height: 20vh;
}

.versus {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10vh;
    color: rgba(255, 0, 0, 0.529);
}

.player, .com {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vh;
}

.player, .com h2 {
    text-align: center;
}

.refresh {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 10vh;
}

.refresh:hover {
    width: 15vh;
    height: 15vh;
    box-sizing: border-box;
}

.batuplayer:hover {
    width: 25vh;
    height: 25vh;
    box-sizing: border-box;
}

.kertasplayer:hover {
    width: 25vh;
    height: 25vh;
    box-sizing: border-box;
}

.guntingplayer:hover {
    width: 25vh;
    height: 25vh;
    box-sizing: border-box;
}

.versus h1 {
    text-align: center;
    margin: auto;
}



