
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="./style.css">
<title>Rock Paper Scissor</title>
</head>
<body>
    <div class="navbar">
        <div class="container">
            <div class="logo">
                <h1>LOGO</h1>
            </div>
            <nav class="link">
                <ul>
                    <li><a href="">HOME</a></li>
                    <li><a href="">WORK</a></li>
                    <li><a href="">CONTACT</a></li>
                    <li><a href="">ABOUT ME</a></li>
                </ul>
            </nav>
            <nav class="daftar">
                <ul>
                    <li><a href="">SIGN UP</a></li>
                    <li><a href="">LOGIN</a></li>
                </ul>
            </nav>
        </div>    
    </div>
    <div class="contentarea1">
        <div class="content">
            <h1>PLAY TRADITIONAL GAME</h1>
            <h2>Experience new traditional game play</h2>
            <input type="button" value="PLAY NOW">
        </div>
        <div class="story">
            <a href="#">
                <h3>THE STORY</h3>
                <div class="triangle-down"></div>
            </a>
        </div>
    </div>
    <div class="contentarea2">
        <div class="thegame">
            <h3>What's so special?</h3>
            <h1>THE GAMES</h1>
        </div>
        <div class="slider">
            <div class="images">
                <input type="radio" name="slide" id="img1" checked>
                <input type="radio" name="slide" id="img2">
                <input type="radio" name="slide" id="img3">
                <input type="radio" name="slide" id="img4">
                <input type="radio" name="slide" id="img5">

                <img src="./assets/rockpaperstrategy-1600.jpg" class="m1" alt="img1">
                <img src="./assets/scissor.jpg" class="m2" alt="img2">
                <img src="./assets/rock.jpg" class="m3" alt="img3">
                <img src="./assets/paper.jpg" class="m4" alt="img4">
                <img src="./assets/all.jpg" class="m5" alt="img5">
            </div>
            <div class="dots">
                <label for="img1"></label>
                <label for="img2"></label>
                <label for="img3"></label>
                <label for="img4"></label>
                <label for="img5"></label>
            </div>
        </div>
    </div>
    <div class="contentarea3">
        <div class="containerlist">
            <div class="features">
                <h3>What's so special?</h3>
                <h1>FEATURES</h1>
            </div>
            <div class="listgame">
                <div class="traditional">
                    <label for=""></label>
                    <p>TRADITIONAL GAME</p>
                </div>
                    <h4 class="playing">if you miss your childhood, we provide <br> many traditional games here</h4>
                <div class="gamesuit">
                    <label for=""></label><p>GAME SUIT</p>
                </div>
                <div class="tbd">
                    <label for=""></label><p>TBD</p>
                </div>
            </div>
        </div>
    </div>
    <div class="contentarea4">
        <div class="content">
            <div class="text">
                <p>Can My Computer Run this game?</p>
            </div>
            <div class="requirement-area">
                <div class="requirement">
                    <h1>SYSTEM<br>REQUIREMENTS</h1>
                </div>
                <div class="list-requirement">
                    <table>
                        <tr>
                            <th>OS:</th>
                            <th style="border-left: 0.5px solid white;">PROCESSOR:</th>
                        </tr>
                        <tr>
                            <td>Windows 7 64-bit only(No OSX support at this time)</td>
                            <td style="border-left: 0.5px solid white;">Intel Core 2 Duo @2.4 GHZ orAMD Athlon X2 @2.8 GHZ</td>
                        </tr>
                        <tr class="bordertop">
                            <th style="border-top: 0.5px solid white; border-right: 0.5px solid white;">MEMORY:</th>
                            <th style="border-top: 0.5px solid white;">STORAGE</th>
                        </tr>
                        <tr>
                            <td style="border-right: 0.5px solid white;">4 GB RAM</td>
                            <td>8 GB available space</td>
                        </tr>
                        <tr>
                            <th colspan="2" style="border-top: 0.5px solid white;">GRAPHICS</th>
                        </tr>
                        <tr>
                            <td colspan="2">NVIDIA GeForce GTX 660 2GB orAMD Radeon HD 7850 2GB DirectX11 (Shader Model 5)</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        
    </div>
    <div class="contentarea5">
        <div class="container5">
            <div class="topscore">
                <div class="content-topscore">
                    <h1>TOP SCORES</h1>
                    <h2>This top score from various games provided<br> on this platform</h2>
                    <input type="button" value="see more">
                </div>
            </div>
            <div class="list-topscore">
                <div class="containercard">
                    <div class="contentcard1">
                        <div class="fotoprofil">
                        </div>
                        <div class="circleprofil">
                        </div>
                        <div class="identitas">
                            <h3>Evan Lahti</h3>
                            <h5>PC Gamer</h5>
                        </div>
                        <div class="twitter">
                            <img src="./assets/twitter.png" alt="twitter">
                        </div>
                    </div>
                    <div class="comment">
                        <h5>"One of my gaming highlight of the year."</h5>
                        <h6>June 18, 2021</h6>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
</html>