<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./suwitjawa.css">
    <title>lets play</title>
</head>
<body>
    <div class="container">
        <nav class="navigation">
            <img src="./assets/back.png" alt="back" class="kembali">
            <h1>ROCK PAPER SCISSOR</h1>
        </nav>
        <div class="mainarea">
            <div class="playerarea">
                <div class="player">
                    <h2>PLAYER 1</h2>
                </div>
                <div class="batuplayer">
                    <img src="./assets/batu.png" alt="batuplayer" class="batuplayer">
                </div>
                <div class="kertasplayer">
                    <img src="./assets/kertas.png" alt="kertasplayer" class="kertasplayer">
                </div>
                <div class="guntingplayer">
                    <img src="./assets/gunting.png" alt="guntingplayer" class="guntingplayer">
                </div>
            </div>
            <div class="versus">
                <h1 id="h1">VS</h1>
            </div>
            <div class="comarea">
                <div class="com">
                    <h2>COM</h2>
                </div>
                <div class="batucom">
                    <img src="./assets/batu.png" alt="batucom" class="batucom">
                </div>
                <div class="kertascom">
                    <img src="./assets/kertas.png" alt="kertascom" class="kertascom">
                </div>
                <div class="guntingcom">
                    <img src="./assets/gunting.png" alt="guntingcom" class="guntingcom">
                </div>                
            </div>
        </div>
        <footer>
            <img src="./assets/refresh.png" alt="refresh" class="refresh">
        </footer>
    </div>
    
<script src="./suwitjawa.js"></script>  
</body>
</html>